.container {
  width: 85%;
  margin: 0 auto;

}

.container img {
  height: 400px;
  width: 550px;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(54, 57, 55, 0.5);
}


.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0 4rem;
}


.forecast {
  margin-left: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 0.85;
}

.facilityDetailContainer {
  padding: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.individual {
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}

.title {
  font-weight: bold;
}

a {
  color: #272f3d;
}

a:hover {
  color: #c39a5f;
}

.no-shadow {
  box-shadow: none;
}

.mainDetailContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.about {
  width: 50%;
  margin-right: 2rem;
}

.detailContainer {
  width: 50%;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.section h3 {
    grid-column: span 3;
}

.section p {
  margin-bottom: 5px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0 4rem;
}

.accesibility {
  padding: 0 4rem;
}

.leaveReview {
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #ba7000;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
}

.leaveReview:hover {
    background-color: rgb(247, 167, 38);
    color: #eeeeed;
    border: 2px solid #ba8800;
}
.reviews {
  padding: 0 4rem;
}

.reviewsScroll {
  padding: 0 4rem;
  color: rgb(89, 104, 79);
}

.weatherOverview {
  padding: 0 3rem;
}

.getWeather {
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: rgb(109, 128, 96);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
}

.getWeather:hover {
    background-color: rgb(137, 163, 120);
    color: #eeeeed;
    border: 1px solid rgb(89, 104, 79);
}

.weatherCard {
  color: rgb(17, 17, 17);
  background-color: rgb(240, 238, 238);
  border-radius: 10px;
  height: 40vh;
}


