.backgroundImage {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-image: url('../src/img/Trailer-setup-at-campsite.jpg');
    background-size: cover;
    background-position: center;
  /* Additional styles for the background */
}
.main-page {
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.park-card {
  display: inline-block;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
}

p {
  margin-top: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
  color: #666;
}
